
div {
    background-color: red;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;


}

#navbar {
    color: red;
    font-size: 20px;
}

#sidebar {
    color: blue;
    font-size: 20px;
}

#main{
    color: green;
    font-size: 20px;
}